<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <h1>Dojo Survey</h1>
        <ul>
            <li>Your Name: <%= data.name %></li>
            <li>Your Location: <%= data.location %></li>
            <li>Your Language: <%= data.language %></li>
            <li>Your Comment: <%= data.comment %></li>
        </ul>
    </body>
</html>
